html {
  font-family: Lucida, sans-serif;
}

body {
  background: #E1E1E1;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

.navthingy {
  background: #072B40;
}

.dev-logo {
  margin-left: 25px;
}

.text-logo {
  color: #1AADFF;
  font-weight: 500;
  margin-left: 45px;
  font-size: 2.1em;
}

.join-text {
  color: #fff;
}

.list-position-control {
  margin-left: 130px;
  margin-bottom: -5px;
}

.sections ul {
  list-style-type: none;
}

.sections li {
  display: inline;
  color: #fff;
  font-size: 1.25em;
  margin: 0 10px 0 0;
}

.sections a:hover {
  color: #fff;
}

.active {
  border-bottom: 6px solid #1AADFF;
}

.container {
  max-width: 55em;
}

#title {
  color: #072B40;
  font-size: 2em;
}

/* Index / Main */
.announcement_container,
.form-container {
  background-color: #fff;
  color: #072B40;
  font-size: 1em;
  font-weight: bold;
  padding: 0;
  margin: 1em 0 1em 0;
  /*padding-top: 10px;*/
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 0.2em 2em 2em;
  box-shadow: rgba(0,0,0,0.8) 0 0 0.2em;
}

.posters_name {
    padding: 10px 0 0 10px;
    background: #072B40;
    color: #fff;
}

.announcement {
  font-weight: normal;
  font-size: 1.20em;
}

/* Join */
.form-container {
  padding-bottom: 20px !important;
}

.form-container .text-right {
  font-size: 1.25em;
}

.form-container legend {
  padding-top: 10px;
  margin: 10px;
  color: #072B40;
}

.email-control {
  margin-bottom: 20px;
}

.little-join-text {
  font-size: .75em !important;
}


.form-container .btn-primary {
  background: #1AADFF;
}
