*{
    padding: 0;
    margin: 0;
    font-family: Lucida, sans-serif;
}
body{
    background-color: red;
}
#title{
    margin-top: 3em;
    margin-bottom: 2em;
}
.logo{
    margin-top: 4em;
}
nav{
    background-color: #495152;
    background: linear-gradient(#495152, #202829);
    height: 4em;
    margin-bottom: 0.5em;
    width: 100%;
    position: fixed;
    top: 0;
}
nav ul{
    width: calc(4em + 4*8em);
    margin-left: auto;
    margin-right: auto;
}
nav ul .sections{
    height: 4em;
    width: calc(4*8em);
    float: left;
}
.navlogo{
    list-style-type: none;
    width: 4em;
    height: 4em;
    float: left;
}
nav ul .sections li{
    list-style-type: none;
    width: 8em;
    float: left;
    text-align: center;
}
nav ul .sections li a{
    text-decoration: none;
    color: white;
    line-height: 4em;
    display: block;
    font-weight: bold;
    border-left: 1px solid #495152;
    border-right: 1px solid #495152;
}
nav ul .sections li a:hover{
    background: linear-gradient(#202829, #495152);
}
#title{
    color: #F0F0F0;
    font-family: Lucida, sans-serif;
    font-size: 2em;

}
p a{
    color: #14D8FF;
}
p a:visited{
    color: #CE43E0;
}
.container{
    width: 100%;
    max-width: 47em;
    margin-left: auto;
    margin-right: auto;
}
.announcement_container{
    background-color: #495152;
    color: #C7C7C7;
    font-size: 1em;
    font-weight: bold;
    padding: 0;
    margin: 1em 0 1em 0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 0.2em 2em 2em;
    box-shadow: rgba(0,0,0,0.8) 0 0 0.5em;
}
.posters_name{
    color: #ECFF1F;
}
.post_title{
    color: #FF7214;
}
.announcement{
    margin: 0;
    padding: 0;
}
.announcement_container ul{
    margin-left: 1em;
}
