/* Main Stuff */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,700);
html {
  font-family: "Roboto", sans-serif;
}

body {
  background: #F0F0F0;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: white;
}

/* Resources */
.resource_language {
  height: 32px;
  line-height: 32px;
  background-color: #FFFFFF;
  border: 1px solid #CCCCCC;
  display: inline-block;
  width: 100%;
  margin-top: 16px;
  padding-left: 32px;
  position: relative;
  color: #444444;
  transition: 0.1s all;
}
.resource_language:before {
  content: "\f067";
  font-family: "FontAwesome", sans-serif;
  color: #1AADFF;
  font-size: 12px;
  position: absolute;
  left: 12px;
}
.resource_language:hover {
  border-bottom: 2px solid #1AADFF;
}
.resource_language[aria-expanded="true"]:hover {
  border-bottom: 1px solid #CCCCCC;
}
.resource_language[aria-expanded="true"]:before {
  content: "\f068";
}
.resource_language:hover, .resource_language:focus {
  color: #444444;
  text-decoration: none;
}
.collapse, .collapsing {
  background-color: #EDEDED;
  border: 1px solid #CCCCCC;
  border-top: 0;
  padding-right: 8px;
  padding-top: 8px;
  border-bottom: 2px solid #1AADFF;
}
.resource{
  font-weight: bold;
  font-size: 0.9em;
  text-transform: uppercase;
  color: #0c4a6e;
}
.resource:hover {
  color: #0c4a6e;
  text-decoration: underline;
}
.resource:focus {
  color: inherit;
  text-decoration: none;
}

@media (min-width: 970px){
    .container {
      margin-top: 7.3em;
      max-width: 55em;
      padding: 3em;
    }
}

@media (max-width: 970px){
    .container{
        margin-top: 3.5em;
        max-width: 55em;
        padding: 3em;
    }
}

.active {
  border-bottom: 6px solid #1AADFF;
  color: white !important;
}

/* Main Nav */
.navthingy {
  background: #072B40;
}

.dev-logo {
    text-align: center;
}

.text-logo {
  color: #1AADFF;
  font-weight: 100;
  font-size: 2.1em;
  letter-spacing: 2px;
}

.join-text {
    position: absolute;
    right: 64px;
    letter-spacing: 1px;
    top: 0;
    bottom: 0;
    display: block;
    height: 48px;
    line-height: 48px;
    text-align: center;
    margin: auto 0;
    padding: 0 64px 0 32px;
    font-size: 1.2em;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 4px;
    background-color: #FF9C1A;
    color: #FFFFFF;
    transition: all 0.2s ease;
}
.join-text:before {
    content: "\f234";
    font-family: "FontAwesome";
    font-size: 2.8em;
    position: absolute;
    color: rgba(255,255,255,0.3);
    text-shadow: none;
    right: 8px;
    top: -4px;
    transform: rotate(-20deg);
}

.join-text:hover {
    background-color: #B26500;
    border-color: transparent;
    color: #E0E0E0;
}

.list-position-control {
  margin-bottom: -6px;
}

ul.sections,
.sidebar-nav ul {
  list-style-type: none;
  padding-left: 0;
}

.sections li,
.sidebar-nav li {
  display: inline;
  color: #E1E1E1;
  margin: 0 10px 0 0;
}
.sections a {
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 700;
    letter-spacing: 2px;
    transition: border-width 0.1s;
}
.sections a:hover {
  color: white;
  border-bottom: 6px solid rgba(26, 173, 255, .25);
}

/* Mobile "Sidebar" Nav */
#sidebar-wrapper {
  padding-top: 5em;
  margin-left: -3em;
  z-index: 1;
  position: absolute;
  width: 0;
  height: 100%;
  overflow-y: hidden;
  background: #072B40;
  opacity: 0.9;
}

/* Content */
#page-content-wrapper {
  width: 100%;
  position: absolute;
}

/* Displaying the menu */
#wrapper.menuDisplayed #sidebar-wrapper{
  width: 50%;
  position: fixed;
}

#wrapper.menuDisplayed #page-content-wrapper {
  /*padding-left: 20%;*/
}


.sidebar-nav li a {
  display: block;
  text-align: center;
}

.sidebar-nav a:hover {
  border-bottom: 6px solid rgba(26, 173, 255, .25);
  margin-bottom: -6px;
}

.sidebar-nav .active:hover {
  margin-bottom: 0 !important;
}

#join {
  color: white;
  font-weight: bold;
}

.ham-icon {
  border: 0;
  font-size: 2.5em;
  margin: 10px;
  background: none !important;
  color: #E1E1E1 !important;
}

.ham-icon:hover {
  color: white;
}

/* Index / Main */
#title {
  font-size: 2em;
  font-weight: 300;
  color: #444444;
  border-bottom: 1px solid #E0E0E0;
  box-shadow: 0 2px 1px -1px #FFFFFF;
  padding-bottom: 4px;
}

.search_box {
  font-size: 15px;
}

.search_box input{
  //float: left;
}

.announcement_container,
.form-container {
  background-color: white;
  color: #072B40;
  font-size: 1em;
  font-weight: bold;
  padding: 0;
  margin: 1em 0 1em 0;
  word-wrap: break-word;
  /*padding-top: 10px;*/
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 4px;
  border: 1px solid #AAA;
  box-shadow: 0 0 6px rgba(0,0,0,0.2);
}

.field {
  display: inline;
}

.form-container label {
  font-size: 1.2em;
}

.prog-label {
  margin-left: -12px;
}

.posters_name {
    padding: 10px 0 0 10px;
    margin-bottom: 10px;
    background: #072B40;
    color: white;
}

.announcement {
  font-weight: normal;
  font-size: 1.20em;
}

kbd {
  background-color: #1AADFF;
}

/* Join */
.form-container {
  padding-bottom: 20px !important;
}

.form-container .text-right {
  font-size: 1.25em;
}

.form-container legend {
  padding-top: 10px;
  margin: 10px;
  color: #072B40;
}

.form-container input, .form-container textarea {
    border-color: #9F9F9F;
}

.little-join-text {
  font-size: .6em !important;
}

.form-container .btn-primary {
  background: #1AADFF;
}

#join-btn:hover {
  background: #1AD5FF;
}

/* About */
.link {
    text-decoration: underline;
}

.link:hover {
  color: #1AADFF !important;
  text-decoration: underline;
}

/* Members */
.members_container {
  background-color: white;
  color: #072B40;
  font-size: 1em;
  font-weight: bold;
  padding: 0;
  margin: 1em 0 1em 0;
  border: 1px solid #AAA;
  box-shadow: 0 0 6px rgba(0,0,0,0.1);
}
.members_table {
  width: 100%;
  color: #444444;
  overflow: hidden;
  border-collapse: separate;
}
.members_table th {
  background-color: #EDEDED;
  border-bottom: 1px solid #E0E0E0;
  height: 32px;
  line-height: 32px;
  padding-left: 8px;
  font-size: 0.9em;
}
.members_table td {
  border-left: 1px solid #E0E0E0;
  padding: 4px 8px;
}
.members_table td:first-child {
  border-left: 0;
}
.members_table tr {
  transition: 0.1s all;
}
.members_table tr td:last-child {
  border-right: 2px solid transparent;
}
.members_table tr:nth-child(2n+1) {
  background-color: #F6F6F6;
}
.members_table tr:hover {
  background-color: #EDEDED;
}
.members_table tr:hover td:first-child {
  border-left: 2px solid #0D94CF;
  padding-left: 6px;
}
.members_table tr:hover td:last-child {
  border-right: 2px solid #0D94CF;
}
