/* Main Stuff */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,700);
html {
  font-family: "Roboto", sans-serif;
}

body {
  background: #E1E1E1;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: white;
}

@media (min-width: 970px){
    .container {
      margin-top: 7.3em;
      max-width: 55em;
      padding: 3em;
    }
}

@media (max-width: 970px){
    .container{
        margin-top: 3.5em;
        max-width: 55em;
        padding: 3em;
    }
}

.active {
  border-bottom: 6px solid #1AADFF;
  color: white !important;
}

/* Main Nav */
.navthingy {
  background: #072B40;
}

.dev-logo {
    text-align: center;
}

.text-logo {
  color: #1AADFF;
  font-weight: 100;
  font-size: 2.1em;
  letter-spacing: 2px;
}

.join-text {
    position: absolute;
    right: 64px;
    letter-spacing: 1px;
    top: 0;
    bottom: 0;
    display: block;
    height: 48px;
    line-height: 48px;
    text-align: center;
    margin: auto 0;
    padding: 0 64px 0 32px;
    font-size: 1.2em;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 4px;
    background-color: #FF9C1A;
    color: #FFFFFF;
    transition: all 0.2s ease;
}
.join-text:before {
    content: "\f234";
    font-family: "FontAwesome";
    font-size: 2.8em;
    position: absolute;
    color: rgba(255,255,255,0.3);
    text-shadow: none;
    right: 8px;
    top: -4px;
    transform: rotate(-20deg);
}

.join-text:hover {
    background-color: #B26500;
    border-color: transparent;
    color: #E0E0E0;
}

.list-position-control {
  margin-bottom: -6px;
}

ul.sections,
.sidebar-nav ul {
  list-style-type: none;
  padding-left: 0;
}

.sections li,
.sidebar-nav li {
  display: inline;
  color: #E1E1E1;
  margin: 0 10px 0 0;
}
.sections a {
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 700;
    letter-spacing: 2px;
    transition: border-width 0.1s;
}
.sections a:hover {
  color: white;
  border-bottom: 6px solid rgba(26, 173, 255, .25);
}

/* Mobile "Sidebar" Nav */
#sidebar-wrapper {
  padding-top: 5em;
  margin-left: -3em;
  z-index: 1;
  position: absolute;
  width: 0;
  height: 100%;
  overflow-y: hidden;
  background: #072B40;
  opacity: 0.9;
}

/* Content */
#page-content-wrapper {
  width: 100%;
  position: absolute;
}

/* Displaying the menu */
#wrapper.menuDisplayed #sidebar-wrapper{
  width: 50%;
  position: fixed;
}

#wrapper.menuDisplayed #page-content-wrapper {
  /*padding-left: 20%;*/
}


.sidebar-nav li a {
  display: block;
  text-align: center;
}

.sidebar-nav a:hover {
  border-bottom: 6px solid rgba(26, 173, 255, .25);
  margin-bottom: -6px;
}

.sidebar-nav .active:hover {
  margin-bottom: 0 !important;
}

#join {
  color: white;
  font-weight: bold;
}

.ham-icon {
  border: 0;
  font-size: 2.5em;
  margin: 10px;
  background: none !important;
  color: #E1E1E1 !important;
}

.ham-icon:hover {
  color: white;
}

/* Index / Main */
#title {
  color: #072B40;
  font-size: 2em;
}

.announcement_container,
.form-container {
  background-color: white;
  color: #072B40;
  font-size: 1em;
  font-weight: bold;
  padding: 0;
  margin: 1em 0 1em 0;
  /*padding-top: 10px;*/
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 0.2em 2em 2em;
  box-shadow: rgba(0,0,0,0.8) 0 0 0.2em;
}

.field {
  display: inline;
}

.form-container label {
  font-size: 1.2em;
}

.prog-label {
  margin-left: -12px;
}

.posters_name {
    padding: 10px 0 0 10px;
    background: #072B40;
    color: white;
}

.announcement {
  font-weight: normal;
  font-size: 1.20em;
}

/* Join */
.form-container {
  padding-bottom: 20px !important;
}

.form-container .text-right {
  font-size: 1.25em;
}

.form-container legend {
  padding-top: 10px;
  margin: 10px;
  color: #072B40;
}

.form-container input, .form-container textarea {
    border-color: #9F9F9F;
}

.little-join-text {
  font-size: .6em !important;
}

.form-container .btn-primary {
  background: #1AADFF;
}

#join-btn:hover {
  background: #1AD5FF;
}

/* About */
.link {
    text-decoration: underline;
}

.link:hover {
  color: #1AADFF !important;
  text-decoration: underline;
}
