/* only "join.html" references it currently */
.error{
    margin-top: 12em;
    background-color: yellow;
    color: black;
}
.notification{
    position: fixed;
    margin-top: 12em;
    background-color: green;
    color: white;
}
