{% extends "layout.html" %}
{% set activepage = "docs" %}
{% block title %}Docs{% endblock %}

{% block content %}
    <div class="row">
        <h1 id="title">Documents</h1>
    </div>
    <div class="row">
        <div class="announcement_container">
            <div class="row">
                <div class="col-md-12">
                    <p class="announcement">
                        Member spreadsheet: type "!membersheet" without the quotes in the Slack chat to get the link (tip: Join the chat by clicking the big "Join Us!" button ;).
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
