<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>DevChannel</title>
		<!--<script src="static/js/sw-register.js"></script>-->
		<link href="static/css/bootstrap.css" rel="stylesheet">
    <link href="static/css/font-awesome.min.css" rel="stylesheet">
    <link href="static/css/light.css" id="style" type="text/css" rel="stylesheet">
    <script type="text/javascript" src="static/js/jquery.js"></script>
    <script src="static/js/bootstrap.js"></script>
	</head>
	<body>

		<div id="wrapper">

			<div id="sidebar-wrapper">
				<ul class="sidebar-nav">
          <li><a href="index">Home</a></li>
          <li><a href="docs" class="active">Docs</a></li>
          <li><a href="about">About</a></li>
          <li><a href="resources">Resources</a></li>
          <li><a href="join" id="join">Join Us!</a></li>
        </ul>
			</div>

			<div id="page-content-wrapper">

				<div class = "navbar-fixed-top hidden-sm hidden-xs">
					<div class="row navthingy">
						<div class="row">
							<div class="col-md-1 dev-logo">
								<a href="index"><img src="static/files/images/DevChannelTeamLogo_64.png" alt="DevChannel Logo" title="DevChannel Logo"/></a>
							</div>
							<div class="col-md-1">
								<h2 class="text-logo">DevChannel</h2>
							</div>
							<div class="col-md-2 col-md-offset-7">
								<h1><a href="join" class="join-text">Join us!</a></h1>
							</div>
						</div>
						<div class="row">
							<div class="col-md-4 col-md-offset-2 list-position-control">
								<ul class="sections">
									<li><a href="index">Home</a></li>
									<li><a href="docs" class="active">Docs</a></li>
									<li><a href="about">About</a></li>
									<li><a href="resources">Resources</a></li>
								</ul>
							</div>
						</div>
					</div>
			  </div>

				<nav class="navbar navthingy navbar-fixed-top navbar-default hidden-lg hidden-md">
          <div class="container-fluid">
            <div class="navbar-header">
              <div class="row">
                <div class="col-sm-2">
                  <a href="#" class="ham-icon pull-left" id="menu-toggle"><i class="fa fa-bars"></i></a>
                </div>
                <div class="col-sm-2">
                  <a href="index" class="pull-left"><img src="../static/files/images/DevChannelTeamLogo_64.png" class="img-rounded"/></a>
                </div>
              </div>
            </div>
          </div>
        </nav>

				<div class="container">
					<div class="row">
						<h1 id="title">Documents</h1>
					</div>
					<div class="row">
						<div class="announcement_container">
							<div class="row">
								<div class="col-md-12">
									<p class="announcement">
										Member spreadsheet: type "!membersheet" without the quotes in the Slack chat to get the link (tip: Join the chat by clicking the "Join Us!" button ;).
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>

		</div>

		<!-- Nav toggle script -->
    <script>
      $("#menu-toggle").click( function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("menuDisplayed");
      });
    </script>

	</body>
</html>
