<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>DevChannel</title>
		<!--<script src="static/js/sw-register.js"></script>-->
		<link href="static/css/bootstrap.css" rel="stylesheet">
    <link href="static/css/font-awesome.min.css" rel="stylesheet">
    <link href="static/css/light.css" id="style" type="text/css" rel="stylesheet">
    <script type="text/javascript" src="static/js/jquery.js"></script>
    <script src="static/js/bootstrap.js"></script>

    <!--This is the stat counter "DO NOT CHANGE"-->
    <script type="text/javascript">
      var sc_project=10846338;
      var sc_invisible=1;
      var sc_security="e9c5be72";
      var scJsHost = (("https:" == document.location.protocol) ? "https://secure." : "http://www.");
      document.write("<sc"+"ript type='text/javascript' src='" + scJsHost+ "statcounter.com/counter/counter.js'></"+"script>");
    </script>
    <!-- I did not change it since you asked me but please remove this div from head -->
    <noscript>
      <div class="statcounter">
        <a title="hit counters" href="http://statcounter.com/free-hit-counter/" target="_blank">
        <img class="statcounter" src="http://c.statcounter.com/10846338/0/e9c5be72/1/" alt="free hit counters"></a>
      </div>
    </noscript>

  </head>
  <body>

    <div id="wrapper">

      <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
          <li><a href="index" class="active">Home</a></li>
          <li><a href="docs">Docs</a></li>
          <li><a href="about">About</a></li>
          <li><a href="resources">Resources</a></li>
          <li><a href="join" id="join">Join Us!</a></li>
        </ul>
      </div>

      <div id="page-content-wrapper">

        <div class = "navbar-fixed-top hidden-sm hidden-xs">
          <div class="row navthingy">
            <div class="row">
              <div class="col-md-1 dev-logo">
                <a href="index"><img src="static/files/images/DevChannelTeamLogo_64.png" alt="DevChannel Logo" title="DevChannel Logo"/></a>
              </div>
              <div class="col-md-1">
                <h2 class="text-logo">DevChannel</h2>
              </div>
              <div class="col-md-2 col-md-offset-7">
                <h1 class="text-right"><a href="join" class="join-text">Join us!</a></h1>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4 col-md-offset-2 list-position-control">
                <ul class="sections">
                  <li><a href="index" class="active">Home</a></li>
                  <li><a href="docs">Docs</a></li>
                  <li><a href="about">About</a></li>
                  <li><a href="resources">Resources</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <nav class="navbar navthingy navbar-fixed-top navbar-default hidden-lg hidden-md">
          <div class="container-fluid">
            <div class="navbar-header">
              <div class="row">
                <div class="col-sm-2">
                  <a href="#" class="ham-icon pull-left" id="menu-toggle"><i class="fa fa-bars"></i></a>
                </div>
                <div class="col-sm-2">
                  <a href="index" class="pull-left"><img src="static/files/images/DevChannelTeamLogo_64.png" alt="<D/C>" class="img-rounded"/></a>
                </div>
              </div>
            </div>
          </div>
        </nav>

        <div class="container">
          <div class="row">
            <h1 id="title">Announcements</h1>
          </div>
          <div class="row">
            <div class="announcement_container">
              <div class="row posters_name">
                <h4>therightman</h4>
              </div>
              <div class="row">
                <div class="col-md-12">
                    <p class="announcement">
                        <br>Weekly challenge #4<br><br>

                        Hey, another week another challenge! This week the goal will be to create an autocorrect program.<br><br>

                        The basic task is to write an autocorrect program.<br><br>

                        It should be able to test if a typed word is correct or not and give some feedback to the user.<br><br>

                        Improve it as much as you want (graphical interface, analyzing sentences, predicting mistakes... do what you feel that is right, be creative!<br><br>

                        If you use a list of words please put it in a file called 'words.txt', and you can use our list!<br><br>

                        THIS CHALLENGE IS FOR EVERYONE. Don't be afraid to participate if you know your program will lose, what matters is what you learn :D<br><br>

                        FIND A PARTNER or do it on your own, but teams (2-3 people) will have bonus points for cooperation!<br><br>

                        Deadline: Sunday, March 13th at mid night (GMT 0) (beggining of Monday :) )

                        Good luck!
    				        </p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="announcement_container">
              <div class="row posters_name">
                <h4>therightman</h4>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <p class="announcement">
                    <br>Weekly challenge #3:<br><br>

                    Make a todo-bot (a todo-list with which you interact with commands like "add 'make a robot' to bigProjects").<br><br>

                    The goal is pretty obvious, you should have the current functionalities:</p><br>
                    <ul>
                      <li>Adding new items</li>
                      <li>Marking items as done</li>
                      <li>Check the list of stuff you still have to do and also the list of completed tasks</li>
                    </ul><br>
                  <p class="announcement">
                    Example: Given the command "add 'change player skin'" would add 'change player skin' to the list and "'change player skin' done" would move it to a 'Done' list<br><br>

                    You can improve it and simplify it as much as you want by adding functionalities like having multiple lists, reminders, etc..<br><br>

                    rules are that you should make it in teams of 2-3 people.<br><br>

                    The final projects will be ranked and the best (or maybe a combination of the best) will be integrated by us to the slack chat as bot!<br><br>

                    If you want to participate, find 1 or 2 people to team with and start working on it, you can ask me, @daruso ,  @vaggelisd or @himrin to make you a private channel :) Finally, the submission date is until next Sunday(March 6th) at midnight, you should upload it to a github repo and link us to it in this channel(#weekly_callenge) :D<br><br>

                    Good luck!

                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="announcement_container">
              <div class="row posters_name">
                <h4>therightman</h4>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <p class="announcement">
                  <br>Hello Everyone!<br><br>
                  I'm very happy to announce the launch of our website!<br><br>

                  You can now join the DevChannel by filling up the form in the "Join" section of
                  the website and of course send your friends here if they want to join too :)<br><br>

                  If you take a look around here you'll probably notice that this is not finished.. At all.
                  Any suggestions will be appreciated, and you can make them by joining our chat (again, in the "Join" section)
                  and contact me (therightman), another administrator, or just share it publicly.<br><br>

                  Thanks for tuning in, see you in the chat ;)
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

    <!-- Nav toggle script -->
    <script>
      $("#menu-toggle").click( function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("menuDisplayed");
      });
    </script>

  </body>
</html>
