<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>DevChannel</title>
	<!--<script src="static/js/sw-register.js"></script>-->
	<link href="static/css/bootstrap.css" rel="stylesheet">
	<link href="static/css/light.css" id="style" type="text/css" rel="stylesheet">
</head>
<body>
	<div class="row navthingy">
		<div class="row">
			<div class="col-md-1 dev-logo">
				<a href="index"><img src="static/files/images/DevChannelTeamLogo_64.png" alt="DevChannel Logo" title="DevChannel Logo"/></a>
			</div>
			<div class="col-md-1">
				<h2 class="text-logo">DevChannel</h2>
			</div>
			<div class="col-md-2 col-md-offset-7">
				<h1><a href="join" class="join-text">Join us!</a></h1>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 col-md-offset-2 list-position-control">
				<ul class="sections">
					<li><a href="index">Home</a></li>
					<li><a href="docs">Docs</a></li>
					<li><a href="about">About</a></li>
					<li><a href="resources" class="active">Resources</a></li>
				</ul>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<h1 id="title">Resources</h1>
		</div>
		<div class="row">
			<div class="announcement_container">
				<div class="row posters_name">
					<h4>W I P</h4>
				</div>
				<div class="row">
					<div class="col-md-12">
						<p class="announcement">Work in progress :)</p>
					</div>
				</div>
			</div>
		</div>
	</div>

</body>
</html>
