<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="" method="post">
    Author:
    <input type="text" name="author" id="author" value="therightman" onkeypress="javascript:return if (event.keyCode == 13){"/>
    <br><br>
    Text:
    <textarea name="text" id="text" style="width: 500px; height: 500px;" placeholder="Test message!
Hit enter for new lines.
    Type 4 spaces
    to create lists
That's all"></textarea>
    <br>
    <input type="submit">
</form>

</body>
</html>