{% extends "layout.html" %}
{% set activepage = "index" %}
{% block title %}Home{% endblock %}

{% block content %}
  <div class="row">
    <h1 id="title">Announcements</h1>
  </div>
{% for article in articles %}
  {% if article.visible %}
    <div class="row">
      <div class="announcement_container">
        <div class="row posters_name">
          <h4>{{ article.title|markdown }}</h4>
        </div>
        <div class="row">
          <div class="col-md-12 announcement">
            {{ article.text|markdown }}
            <i class="pull-right">{{ "{}, {}".format(article.author, article.publish_date) }}</i>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
{% endfor %}
{% endblock %}
