{% extends "layout.html" %}
{% set activepage = "members" %}
{% block title %}Members{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-6">
            <h1 id="title">Members</h1>
        </div>
        <div class="col-xs-6">
            <div class="search_box pull-right">
                <form action='#' method='get'>
                    <input name='lang'></input>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
    </div>
    <div class="row">
        <div class="members_container">
            <div class="row">
                <div class="col-md-12">
                    <table class="members_table">
                        <tr>
                            <th>USERNAME</th>
                            <th>LANGUAGES</th>
                            <th>POINTS</th>
                            <th>LAST SEEN</th>
                        {% for member in members %}
                            <tr>
                                <td>{{ "{}".format(member[0]) }}</td>
                                <td>{{ "{}".format(member[1]) }}</td>
                                <td>{{ "{}".format(member[2]) }}</td>
                                <td>{{ "{}".format(member[3]) }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
