{% extends "layout.html" %}
{% set activepage = "members" %}
{% block title %}Members{% endblock %}

{% block content %}
    <div class="row">
        <!--<div class="col-xs-6">-->
            <h1 id="title">
                Members
                <div class="row">
	                <div class="search_box form-group pull-right col-xs-6"><!--
	                    <form action='' method='get'>-->
                        <form>
	                        Search by language: <input id="member_search_box" class="form-control" name='lang' placeholder="Python"></input>
	                        <input id="search_button" type="button" onclick="search_lang(); return false;" value="Search">
	                    </form>
	                </div>
	            </div>
            </h1>
        <!--</div>-->
        <!--<div class="col-xs-6">
            
        </div>-->
    </div>
    <div class="row">
    <div class="row">
        <select id="order_dropdown" onchange="get_by_order()">
            <option value="alpha">Alphabetically</option>
            <option value="points">Points</option>
        </select>
    </div>
    <div class="row">
    </div>
    <div class="row">
        <div class="members_container">
            <div class="row">
                <div class="col-md-12">
                    <table class="members_table">
                        <tr>
                            <th>USERNAME</th>
                            <th>LANGUAGES</th>
                            <th>POINTS</th>
                            <th>LAST SEEN</th>
                        {% for member in members %}
                            <tr>
                                <td>{{ "{}".format(member[0]) }}</td>
                                <td>{{ "{}".format(member[1]) }}</td>
                                <td>{{ "{}".format(member[2]) }}</td>
                                <td>{{ "{}".format(member[3]) }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!--<script>
    document.getElementById("search_button").addEventListener('click', function (e) {
    e.preventDefault();
    search_lang();
    console.log("YAY");
})
    </script>-->
{% endblock %}
