{% extends "layout.html" %}
{% set activepage = "resources" %}
{% block title %}Resources{% endblock %}

{% block content %}
    <div class="row">
        <h1 id="title">Resources</h1>
    </div>
    
    {% for language, val in link.items() %}
    <div class="row">
        <a href="#{{ language|replace('#', '_') }}" data-toggle="collapse" class="resource_language">{{ language }}</a>
        <div id="{{ language|replace('#', '_') }}" class="collapse">
            {% for p_title, resources in val.items() %}
            <ul>
                <li>{{ p_title }}
                    <ul>
                        {% for title, (link, description) in resources.items() %}
                        <li>
                            <a class="resource" target="_blank" rel="noopener noreferrer" href="{{ link }}">{{ title }}</a> - {{ description|safe }}
                        </li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>
            {% endfor %}
        </div>
    </div>
    {% endfor %}

{% endblock %}
